.task {
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.task label {
    width: 95%;
    display: flex;
    justify-content: space-between;
     
    p {
        width: 97%;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    p::first-letter {
        text-transform: capitalize;
    }

    input {
        width: 3%;
    }
}

.task button {
    width: 5%;
    background-color: transparent;
    border: 0;
}

