.task {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.task label {
    width: 100%;
    display: flex;
    justify-content: space-between;
     
    p {
        width: 97%;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    p::first-letter {
        text-transform: capitalize;
    }

    input {
        width: 3%;
    }
}

.task .controls {
    width: 19%;
    padding: auto 0;
}

.task button {
    background-color: transparent;
    border: 0;
    margin: 0;
}

