.task {
  color: var(--purple-700);
}

.task label {
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    font-size: .95em;
    letter-spacing: -.5px;
  }

  p::first-letter { text-transform: capitalize; }

  input {
    appearance: none;
    width: 20.85px;
    height: 20px;
    border: 1px solid var(--gray-300);
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms;
  }

  input:checked {
    position: relative;
    background: linear-gradient(var(--gradient));
    border: 0;
  }

  input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 8px;
    translate: -50% -60%;
    rotate: 45deg;
    border: solid #fff;
    border-width: 0 2px 2px 0;
  }
}

.task.completed label p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.btn-edit {
  color: var(--blue-500);
}

.btn-remove {
  color: var(--gray-600);
}

/* .btn-remove:hover {
  color: rgb(220,53,69);
} */
