.filter-controls * {
  font-size: 0.875rem;
  color: var(--gray-600);
}

.filter-controls .filters button {
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter.active {
  color: var(--blue-500);
}