
.task-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task-form input {
  width: 100%;
  padding: 10px 10px;
  padding-left: calc(15px + 18px + 15px);
  margin: 0;
  font-size: 1.1rem;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: var(--navy-850);
}


.form-control {
  position: relative;
}

.form-control::after {
  content: '';
  position: absolute;
  z-index: 10;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  height: 18px;
  width: 18px;
  margin: 0 15px;
  border: 1px solid var(--gray-300);
  border-radius: 50%;
}