
.task-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task-form input {
  width: 100%;
  padding: 7px 10px;
  font-size: 1.1rem;
  border: 0.5px solid rgba(0, 0, 0, .5);
  outline: none;
  border-radius: 5px;
}

.task-form input:hover {
  border: 0.5px solid rgba(0, 0, 0, .7);
}