.task-form input {
  padding-left: calc(1.5rem + 20px + 1.5rem);
  font-size: 1.1rem;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: var(--navy-850);
}

.task-form input::placeholder {
  color: var(--gray-600);
}

.form-control {
  position: relative;
}

.form-control::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  height: 20px;
  width: 20px;
  margin: 0 1.5rem;
  border: 1px solid var(--gray-300);
  border-radius: 50%;
}