
.App {
  width: 60vw;
  max-width: 550px;
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 15px;
  color: #fff;
}

.btn-theme {
  background-color: transparent;
  border: 0;
  scale: 0.9;
  cursor: pointer;
}
