@import url('/assets/bootstrap/css/bootstrap.min.css');
@import url('/assets/fontawesome/css/all.min.css');

@font-face {
    font-family: 'Josefin Sans';
    src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 35%;
    background: url('/assets/images/bg-desktop-light.jpg');
}