@import url('/assets/bootstrap/css/bootstrap.min.css');
@import url('/assets/fontawesome/css/all.min.css');

@font-face {
    font-family: 'Josefin Sans';
    src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

:root {
    /* Primary */

    --blue-500: hsl(220, 98%, 61%);
    --gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --purple-300: hsl(234, 39%, 85%);
    --gray-600: hsl(236, 9%, 61%);

    /* Light Theme */

    --navy-850: #484b6a;
    --gray-50: #fafafa;
    --gray-300: hsl(233, 11%, 84%);

    /* Dark Theme */

    --navy-950: hsl(235, 21%, 11%);
    --navy-900: hsl(235, 24%, 19%);
    --purple-100: (hover): hsl(236, 33%, 92%);
    --purple-600: hsl(235, 16%, 43%);
    --purple-700: hsl(233, 14%, 35%);
    --purple-800: hsl(237, 14%, 26%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 35%;
    background: url('/assets/images/bg-desktop-light.jpg') center/cover no-repeat;
}